body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    margin-bottom: 20px;
    background-color: #d8b6f8;
}

/* Estilo para el título principal */
h1 {
    font-size: 80px;
    color: #627cc4;
    text-shadow: 2px 2px 4px  #f4b300;
    margin: 0;
    padding: 20px 0;
    position: relative;
    animation: moveText 1s infinite alternate ease-in-out;
}

/* Animación para hacer parpadear el texto del titulo principal */
@keyframes blinkText {
    50% {
        opacity: 0;
        transform: scale(1.6);
    }
}

/* Aplicación de la animación de parpadeo al título */
h1 {
    animation: blinkText 4s infinite;

    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

#images {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    background-color: #a6dce6;
    padding: 10px;
}

img {
    flex: 0 0 auto;
    max-width: calc(100% / 3 - 20px);
    max-height: 300px;
    width: auto;
    border: 2px solid  #f4b300;
    border-radius: 5px;
    margin: 0 10px; 
    cursor: pointer;
    
}

/* Efecto al pasar el mouse por encima de las imágenes */
img:hover{
    border: 2px solid  #ff5f03;
    box-shadow: 50px 50px 50px rgb(250, 150, 0);
    transition: border 0.3s ease, box-shadow 0.3s ease;

    transform: scale(0.75) rotate(30deg);
    transition: transform 0.3s ease;

    opacity: 0.8;
    transition: opacity 0.3s ease;
}

#Resultados {
    background-color: #a6dce6;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section#Resultados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* 2 columnas de tamaño igual */
    gap: 5px;
    justify-items: center;
    background-color: #a6dce6;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px ;
    margin-top: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

p {
    background-color: #e1bee7;
    border: 1px solid #ab47bc;
    border-radius: 10px;
    padding: 4px;
    text-align: center;
    color: #4a148c;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    font-size: 14px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
    width: 80%;
}

/* Efecto al pasar el mouse por encima de los párrafos */
p:hover {
    background-color: #ce93d8;
    transform: scale(1.02);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

button {
    margin-top: 20px;
    background-color: #f4b300;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Comic Neue', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Efecto al pasar el mouse por encima de los botones */
button:hover {
    background-color: #db5000;
    color: #fff;
}